<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <a href="/login">Log In</a> <br>
    <a href="/signup">Sign Up</a> <br>
    <a href="/posts">View Posts</a> <br>
    <a href="/posts/new">Create Post</a>
  </body>
</html>
